<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>
      
    </title>
    <meta http-equiv="refresh" content="3; url=http://127.0.0.1:5000/user"/>
   <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</head>
<body style="background-color: #42b6d3; background-image: url('https://res.cloudinary.com/dfjmoiswx/image/upload/v1674017200/cricket/Screenshot_2023-01-18_101452_ber7ei.png');
background-repeat: no-repeat;
background-position: center;
background-size: cover;
width: 100%;
height: 90vh;" >
  <nav class="navbar sticky-top bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/" style="color:white;">CRIC INFO</a>
      
      <button class="navbar-toggler" type="button"  data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" style="background-color:#C1C1C1;color:white;width:60px;height:38px">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          
          <h3 class="offcanvas-title" id="offcanvasNavbarLabel">MENU</h3>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div><hr>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
            <h5><a class="nav-link active" aria-current="page" href="/">Home</a><h5>
            </li>
            <li class="nav-item">
              <h5><a class="nav-link active" href="/points">point table</a><h5>
              </li>
          <li class="nav-item">
            <h5><a class="nav-link active" href="/filter">Filter</a><h5>
          </li>
              

              {% if (session['logged_in'] == False) %}
              <li class="nav-item">
              <h5><a class="nav-link active" href="/login">Admin</a><h5>
              </li>
              {% endif %}
              {% if (session['logged_in'] == True) %}
              <li class="nav-item">
                <h5><a class="nav-link active" href="/admin">index</a><h5>
                </li>
                
              <li class="nav-item">
              <h5><a class="nav-link active" href="/logout">logout</a><h5>
              </li>
              {% endif %}
            
          
        </div>
      </div>
    </div>
  </nav>
      

    
</body>






<!---<!doctype html>
<html lang="en" >
  <head>
 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.rtl.min.css" integrity="sha384-DOXMLfHhQkvFFp+rWTZwVlPVqdIhpDVYT9csOnHSgWQWPX0v5MCGtjCJbY6ERspU" crossorigin="anonymous">

    <title>hello</title>
  </head>
  <body>
    <h1>hello</h1>
    <a href="/login"><button>admin</button></a>
    <a href="/user"><button>user</button></a>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

    
  </body>
</html> -->